$color-background: white;
$color-shadow: gray;
$color-primary: #007bff;
$color-success: #28a745;
$color-danger: #dc3545;

$font-weight-400: 400;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-64: 64px;
