// import variable style
@import '../../variables/Variables.scss';

// style for function
.status {
    width: 50%;
    background-color: $color-background;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) translateZ(0);
    padding: 20px;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px 1px $color-shadow;
    text-align: center;

    &__head {
        font-size: $font-size-64;

        &__done {
            color: $color-success;
        }

        &__faild {
            color: $color-danger;
        }
    }

    &__body {
        p {
            padding-bottom: 15px;
        }

        &__anwser {
            u {
                cursor: pointer;
            }
        }
    }
    
}

@media only screen and (max-width: 992px) {
    .status {
        width: 55%;
    }
}
@media only screen and (max-width: 768px) {
    .status {
        width: 65%;
    }
}
@media only screen and (max-width: 600px) {
    .status {
        width: 75%;
    }
}
@media only screen and (max-width: 480px) {
    .status {
        width: 90%;
    }
}
